body {
  font-size: 14px;
  margin: 0px;
  background: #f7f7f7;
}

html,
body {}

.mainAndFooter {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.menu a,
.indexPerArt a {
  display: block;
  color: black;
  text-decoration: none;
  word-break: break-all;
}

p {
  margin: 0;
}

.titleAll{
  display: flex;
}
.topPost {
  word-break: keep-all;
  margin-left: auto;
  margin-top: -4px;
  padding: 0px 12px;
  background: #eb4545;
  color: white;
}

.btn,
.btn:focus,
.btn:active,
.btn:hover {
  outline: none;
  background: none;
  border: none;
  box-shadow: none;
}

.indexPerArt {
  display: flex;
  height: 124px;
  padding: 10px;
  margin-bottom: 16px;
  overflow: hidden;
  background: white;
  border-radius: 2px;
  box-shadow: 0 0 6px 0px rgb(11 30 82 / 1%)
}

.indexPerArt h3,
.authorExcerpt {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.indexPerImg {
  flex-shrink: 0;
  width: 104px;
  height: 104px;
  margin-right: 16px;
  border-radius: 2px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}

.main {
  padding-top: 72px;
  display: flex;
  flex-direction: row-reverse;
  margin: 0 auto;
  flex-grow: 1;
}

.main,
.indexArt {
  float: none;
}

.panel {
  margin: 0;
  border: none;
  max-height: 286px;
  min-height: 200px;
  box-shadow: none;
}

.siderbar .panel>.panel-heading {
  color: #464350;
  border-bottom: none;
  box-shadow: 0px 6px 7px -5px rgb(0 13 50 / 0%) !important;
  background-color: white;
  border-bottom: 1px solid rgb(247 247 247);
  line-height: initial;
}

.siderbar .panel>.panel-heading>span:first-child {
  font-weight: bold;
}

.siderbar .panel>.panel-heading>span:first-child:before {
  content: '1';
  background: #4a7ad3;
  color: transparent;
  width: 3px;
  display: inline-block;
  line-height: 18px;
  margin-right: 6px;
}

.indexAd,
.indexTags {
  /*侧栏*/
  margin-bottom: 24px;
}

#myNiceCarousel a {
  display: block
}

#myNiceCarousel img {
  height: 100%;
  height: 200px;
  margin: 0 auto;
}




  .main {
    display: flex !important;
    flex-direction: column-reverse;
  }

  .child-menu {
    width: 100%;
  }

  .siderbar {
    padding: 0;
  }

  .navbar {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    border: 0;
  }


  .navbar-header {
    width: 100%;
    margin: 0 !important;
    background: white;
    box-shadow: 0 0 4px rgb(2 0 96 / 10%);
    overflow-y: hidden !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .container-fluid {
    padding: 0;

  }

  .navbar-header {
    background: white;

  }

  .main {
    padding: 62px 12px 0;
  }

  .categories-menu {
    position: initial;
  }

  .child-menu-ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
  }

  .menu {
    display: none;
    background: white;
    box-shadow: 0px 2px 5px -2px rgb(2 0 96 / 10%);
    width: 100%;
  }

  .search-btn {
    display: none;
  }

  .header-left {
    flex-direction: column;
  }

  .search-rect {
    position: absolute;
    width: 100%;
    height: 100%
  }

  .panel {
    border-radius: 0;
  }






.siderbar {
  flex-grow: 1;
  padding-right: 0;
}


.contentExcerpt {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-top: 8px;
  color: #222222;
  word-break: break-all;
}

.authorExcerpt {
  margin-top: 2px;
  margin-bottom: 2px;
  color: #626262;
}


.indexExcerptRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#post {
  padding: 12px 12px 20px 12px;
  background: white;
  float: none;
  margin-bottom: 24px;
  border-radius: 2px;
}




.preOrNext {
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}

.preOrNext a {
  background: blue;
}

.indexCategories {}

.indexTags .panel-body a {
  padding: 6px 4px;
  display: inline-block;
  margin-bottom: 4px;
  font-size: 14px;
  margin-right: 4px;
  border-radius: 0;

}

@media screen and (min-width: 1200px) {

  .main,
  .container-fluid {
    width: 998px
  }

}

#post .time {
  text-align: center;
}



#post footer {
  padding-top: 6px;
  border-top: 1px dashed #d7d7d7;
}


ul {
  border: none !important;
  box-shadow: none !important;
}

:before,
:after {}

.container-fluid:before,
.navbar-header:before {
  display: none;
}

/*隐藏掉after before 不然flex布局会计算*/
.container-fluid:after,
.navbar-header:after {
  display: none;
}

.navbar-brand {
  padding: 0 12px 0;
  height: 32px;
  margin: 0 !important;
}

/*导航顶部图片*/


@media screen and (min-width: 768px) {
  .search-rect {
    width: 74%;
    max-width: 660px;
    height: 500px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    box-shadow: 0 0 20px 0px rgb(22 22 22 / 22%)
  }

  .search-btn-mobile {
    display: none;
  }

  .downItems a {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .container-fluid {
    float: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

  }

  .navbar {
    background: white;
    position: fixed;
    top: 0;
    /*导航栏*/
    z-index: 100;
    width: 100%;
    border: 0;
    height: 54px;
    box-shadow: 0 0 8px rgb(3 18 50 / 5%);
    border-radius: 0;
  }

  .categories-menu {
    position: relative;
  }
  .header-left{
    flex-direction: row;
  }
  .navbar-header{
    width: auto;
    box-shadow: none;
  }
  .menu{
    display: block;
    box-shadow: none;
    width: auto;
  }
  .search-btn{
    display: block;
  }
  .main{
    flex-direction: row-reverse;
  }
  .siderbar {
    padding-left: 10px;
  }
  .child-menu{
    width: auto;
  }
}


.pager>li>a {
  border: none;
  /*首页文章上下页*/
}


footer>div {
  background: white;
  text-align: center;
  /*页脚*/
  border-radius: 4px 4px 0 0;
  min-height: 54px;
}



.information {
  text-align: center;
  background: white;
  overflow: visible;
}

.information .avatar {
  height: 48px;
  width: 48px;
  /*侧栏个人信息*/
  border-radius: 120px;
  object-fit: cover;
}

.information.card {
  box-shadow: none;
  border: none;
  padding: 24px 28px 24px;
  display: flex;
  align-items: center;
}
.information.card .indexNick{
  padding: 0;
  margin-left: 20px;
  text-align: left;
}
.information .card-content {
  padding: 0;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.information a {
  color: #505050;
  text-decoration: none;
}


.siderbar {
  border-color: #e7e7ed !important;
  box-shadow: none;
}

ul {
  text-decoration: none;
  list-style: none;
}

.child-menu {
  display: none;
  background: white;
  box-shadow: 0px 2px 5px -2px rgb(2 0 96 / 10%);
  overflow: hidden;
  position: absolute;
  left: 0;
}

.child-menu-ul>li {
  padding: 10px 14px;
  width: 100%;
  white-space: nowrap;
}



.menu>ul>li {
  padding: 10px 14px;
}

.menu>ul {
  margin: 0;
  padding: 0;
}

.menu>ul>li {
  background: white;
  float: left;
}


.menu>ul>li:first-child>ul>li {
  float: left;
  padding: 10px 14px;
  cursor: pointer;
}

.menu>ul>li:last-child>ul>li {}

.downItems {
  display: none;
  box-shadow: 0 6px 4px -6px rgb(2 0 96 / 10%);

}

@media screen and (min-width: 768px) {}

@media screen and (max-width: 767px) {}

footer {
  position: relative;
  margin-top: 20px
}

.mainAndFooter>footer p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.categoryMain .alert,
.tagMain .alert {
  margin-bottom: 8px;
  padding: 12px 16px;
  border-radius: 4px;
}

::-webkit-scrollbar {
  width: 1px;
  background: blue;
}

.getFriend {
  float: right;
}

a.getFriend {
  text-decoration: none;
}

.clickA {
  color: red !important;
}

/*搜索结果*/
.search-ul {
  padding: 0;
  margin: 0;
}

.search-ul p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

.search-input {
  border: none;
  background: transparent;
  box-shadow: none;
}

.search-rect span.input-group-btn .btn {
  background: none;
}

.search input:focus {
  box-shadow: none;
}


.search-rect .panel-body {
  padding: 0;
}

@media screen and (max-width: 767px) {}

.search-cover {
  background: rgb(6 6 6 / 38%);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 101;
  display: none;
}

.search-cover .panel {
  max-height: initial;
}

/*头部*/
.header-left {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

/*搜索界面*/
.search-ul>li {
  padding: 8px 16px;
  background: #f9f9f9;
  border-bottom: 1px solid #d7d7d7;
}

.no-search-result,
.searching {
  text-align: center;
  margin-top: 50px;
  display: none;
}



  .indexFrided .panel-body a{
    padding: 6px 4px;
    background: white;
    border-radius: 0;
    color: #484848;
    font-size: 14px;
  }
.search-cover .panel>.panel-heading{
  border-color: transparent;
}
.siderBody{
  position: sticky;
  top: 56px;
}
.goTop{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    cursor: pointer;
    border-radius: 32px;
    right: 20px;
    bottom: 20px;
    width: 32px;
    height: 32px;
    background: white;
    box-shadow: 0 0 8px #e5e5e5;
}
@media screen and (max-width: 767px){
  .goTop{
    display: none;
  }
}